// ==========================================================================
// Base styles: Global Basics and resets
// ==========================================================================

html {
  box-sizing: border-box;

  // Ensure Common ligs are always on
  font-variant-ligatures: common-ligatures;

  // Control font-smoothing and text rendering
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;

  // Smooth Scrolling
  scroll-behavior: smooth;

  // Let the browser decide the best base font size
  font-size: 100%;
}

// Inherit box-sizing and remove all default top and bottom margins
*,
*::before,
*::after {
  box-sizing: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

// Body default styles
body {
  font-family: var(--font-ui);
  background-color: var(--color-white);
  color: var(--color-black);

  // Always fill the whole page
  min-height: 100vh;

  // Set the font-size in rems so it's inherited by all elements.
  font-size: 1rem;
}

//Remove default fieldset styles.
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

// Use fancy ligs in headings
// Remove all margins from Headings
h1,
h2,
h3,
h4,
h5 {
  // turn on discretionary ligatures
  font-variant-ligatures: common-ligatures discretionary-ligatures;

  // Remove margin from headings
  margin: 0;

  // Reset all headings to be the same size as body text.
  font-size: 1em;
}

// Remove list styles on ul, ol elements with a class attribute
ul[class],
ol[class] {
  list-style: none;
  padding-left: 0;
}

// Make images easier to work with
img {
  max-width: 100%;
  display: block;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ==========================================================================
// Base styles: Inline Text Treatments
// ==========================================================================

// Marked Text
mark {
  background: var(--color-yellow);
}

// Highlighting & Selection
::-moz-selection {
  background: var(--color-yellow);
  text-shadow: none;
}

::selection {
  background: var(--color-yellow);
  text-shadow: none;
}

// Remove color and text-decoration from links with a class
a[class] {
  text-decoration: inherit;
  color: inherit;
}

// Links without a class get default styles
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration-color: rgba(0, 0, 0, 0.2);
  text-decoration-thickness: 0.5px;
  color: inherit;
  transition: all 0.15s;

  &:hover,
  &:active {
    color: var(--color-red);
    text-decoration-color: var(--color-red);
  }

  &:visited {
    color: var(--color-visited-link);
    text-decoration-color: var(--color-visited-link);
  }
}
