.essay {
  font-family: var(--font-essay);

  // Scale the type from 1rem (16px) at small viewports to 1.375rems (22px) at larger viewports.
  font-size: clamp(1rem, calc(0.6rem + 1vw), 1.375rem);
  transition: font-size 0.1s;

  // Margin and Width
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 41rem;
  @media (min-width: $breakpoint-large) {
    max-width: 48rem;
  }

  > * {
    line-height: var(--base-lh);
  }

  // Add margin to the top of all elements except the first one.
  // Use ems so it scales with the font-size of the element.
  > * + * {
    margin-top: calc(1em * var(--base-lh));
  }

  // Headings

  // Turn off styles for links in headings
  h1,
  h2,
  h3,
  h4,
  h5 {
    a,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      text-decoration: inherit;
    }
  }

  > p {
    font-size: 1em;
    font-variant-numeric: oldstyle-nums;

    // Use hyphens only on small viewports.
    -webkit-hyphens: auto;
    hyphens: auto;

    @media (min-width: $breakpoint-mid) {
      -webkit-hyphens: none;
      hyphens: none;
    }
  }

  > blockquote {
    font-size: 1em;
    font-variant-numeric: oldstyle-nums;
  }

  > ul,
  > ol {
    font-size: 1em;
    font-variant-numeric: oldstyle-nums;
  }

  > h1 {
  }

  > h2 {
  }

  > h3 {
  }

  > h4 {
  }

  > h5 {
  }

  > h6 {
  }

  // Use small caps for Abreviations
  abbr {
    text-transform: lowercase;
    font-variant: small-caps;

    text-decoration-color: rgba(0, 0, 0, 0.2);
  }
}
