.essay {
  font-family: var(--font-essay);
}

.essay > * {
  line-height: 1.5;
  max-width: 33rem;
  margin-left: auto;
  margin-right: auto;
}

// Natural flow margin
.essay > * + * {
  margin-top: 1em;
}
