// Home link

.home-link {
  text-transform: uppercase;
  letter-spacing: 0.05ch;
  font-weight: 600;

  font-size: 1rem;
  @media (min-width: $breakpoint-l) {
    font-size: 1.2rem;
  }

  position: absolute;
  top: calc(1em * var(--base-lh));
  left: calc(1em * var(--base-lh));

  &:before {
    content: '←';
    margin-right: 0.5em;
    color: rgba(0, 0, 0, 0.5);
  }

  &:hover,
  &:active {
    color: var(--color-red);
  }

  .dot {
    color: var(--color-red);
    font-size: 1.4em;
    margin-left: -0.15ch;
    margin-right: 0.1ch;
  }
}
