// Sass Variables for use in media queries

// ===================== Breakpoints =====================
$breakpoint-m: 42em;
$breakpoint-l: 60em;
$breakpoint-xl: 75em;

// Most Global CSS variables should be set on root.
:root {
  // ===================== Colours =====================
  --color-red: rgb(255, 30, 28);
  --color-red-dark: rgb(101, 12, 11);
  --color-red-trans50: rgb(255, 30, 28, 0.5);
  --color-cream: #f6f3ea;
  --color-yellow: #ffde59;
  --color-white: #fff;
  --color-black: #444;
  --color-true-black: #111;
  --color-light-gray: rgba(0, 0, 0, 0.2);

  --color-medium-green: #00ab6b;
  --color-pocket-red: rgba(239, 64, 86, 0.9);

  // Major Colors
  --color-background: var(--color-white);

  // Links
  --color-link-underline: rgba(111, 131, 222, 0.5);
  --color-link-text: #35448f;
  --color-visited-link-underline: rgba(188, 127, 219, 0.5);
  --color-visited-link-text: #78428c;
  --color-active-link-underline: var(--color-red);
  --color-active-link-text: var(--color-red);

  // ===================== LineHeights =====================

  --base-lh: 1.5;

  // ===================== Font Families =====================

  // UI Fonts
  --font-ui: 'Jost', sans-serif;
  @supports (font-variation-settings: normal) {
    --font-ui: 'Jost Variable', sans-serif;
  }

  //Essay Fonts

  --font-essay: 'Literata', Georgia, 'Times New Roman', serif;
  @supports (font-variation-settings: normal) {
    --font-essay: 'Literata Variable', Georgia, 'Times New Roman', serif;
  }

  // --font-essay: 'Lora', Georgia, 'Times New Roman', serif;
  // @supports (font-variation-settings: normal) {
  //   --font-essay: 'Lora Variable', Georgia, 'Times New Roman', serif;
  // }

  // Code Fonts
  --font-code: 'Fira Code', 'Inconsolata', monospace;
  @supports (font-variation-settings: normal) {
    --font-code: 'Fira Code Variable', 'Inconsolata', monospace;
  }
}
