.page-writing {
  h1 {
    font-size: 14vw;
    transform: translateY(-0.3em);
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: right;
    pointer-events: none;
  }

  .link-list {
    margin: 1rem;
    border-left: 1rem solid var(--color-red);
    padding-left: 1rem;
  }

  .link {
    margin-bottom: 1rem;
    border-bottom-color: var(--color-light-gray);
  }

  .link-title {
    font-weight: 400;
  }

  .link-platform {
    font-weight: 600;
    background: var(--color-light-gray);
    color: var(--color-white);
    padding: 0 5px;
    border-radius: 2px;
  }

  .link.delocate {
    .link-anchor:hover {
      color: var(--color-delocate-orange);
    }

    .link-platform {
      background-color: var(--color-delocate-orange);
    }
  }

  .link.medium {
    .link-anchor:hover {
      color: var(--color-medium-green);
    }

    .link-platform {
      background-color: var(--color-medium-green);
    }
  }

  @media screen and (min-width: $breakpoint-m) {
    .link-list {
      margin-left: 3rem;
    }

    .link-date {
      display: inline-block;
      min-width: 5rem;
    }

    .link-title {
      display: inline;
      font-size: 1.25rem;
    }
  }
}
