.page-writing {
  h1 {
    font-size: 14vw;
    transform: translateY(-0.3em);
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: right;
    pointer-events: none;
  }

  .link-list {
    margin: 1rem;
    border-left: 1rem solid var(--color-red);
    padding-left: 1rem;
    max-width: calc(100% - 6rem);

    @media screen and (min-width: $breakpoint-m) {
      margin-left: 3rem;
    }
  }
}
