.page-home {
  h1 {
    position: relative;
    font-size: 16vw;
    margin-top: -0.2em;
    // z-index: 1;
  }

  .copyright {
    font-size: 0.75rem;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: top right;
    transform: rotate(90deg);
  }
}
