.page-home {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--color-cream);

  h1 {
    position: relative;
    font-size: 16.8vw;
    margin-top: -0.15em;
    z-index: 1;
    pointer-events: none;
  }

  .link-list {
    margin-left: 1rem;
    max-width: calc(100% - 4rem);

    @media screen and (min-width: $breakpoint-xl) {
      transform-origin: bottom right;
      transform: rotate(45deg) translateX(calc(1rem + 30vw))
        translateY(calc(-1 * (1rem + 10vw)));
      max-width: calc(1rem * 65vw);

      &:after {
        display: block;
        position: relative;
        z-index: -1;
        content: ' ';
        background: var(--color-red-trans50);
        height: 1rem;
        width: 500%;
        margin-left: -100vw;
        margin-top: 1rem;
      }
    }
  }
}
