.page-404 {
  position: relative;
  transform: rotate(-45deg) translateY(10vh) translateX(-10vh);

  h1 {
    font-size: 40vw;
    margin-top: -0.2em;
  }

  h1::after {
    display: block;
    content: ' ';
    background: var(--color-red-trans50);
    height: 4vw;
    margin-top: -9.5vw;
  }

  h2 {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    transform-origin: bottom right;
    transform: rotate(90deg);
    background: var(--color-yellow);
    padding: 0.3vw 0.7vw;
    font-size: 2vw;
  }

  p {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 100;
    margin: 0 0 0 40vw;
  }
}
