.page-reading {
  h1 {
    font-size: 14vw;
    transform: translateY(-0.3em);
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: right;
    pointer-events: none;
  }

  .intro {
    text-align: right;
    padding: 1rem;
    font-size: 1.25rem;
    margin-bottom: 3rem;
  }

  .link-list {
    margin: 1rem;
    border-left: 1rem solid var(--color-black);
    padding-left: 1rem;
  }
}
