.video-card {
  display: flex;
  border-top: 5px solid var(--color-red);

  &-embed {
    order: 2;
  }

  &-embed iframe {
    width: 100%;
    overflow: none;
  }

  &-caption {
    order: 1;
    flex-grow: 1;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    writing-mode: vertical-rl;
    padding: 1rem;
  }
}
