<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}

  <body class="{{page.body-class}}">
    <nav>
      <a class="home-link" href="/">danny<span class="dot">.</span>is</a>
    </nav>
    <main class="page-content" aria-label="Content">
      <article class="essay">
        <h1 role="heading" aria-level="1">
          <a href="{{ page.url }}">{{ page.title }}</a>
        </h1>
        {{ content }}
      </article>
    </main>
    <footer class="essay-footer">
      <div class="copyright">
        <p>&copy; Danny Smith 2010-{{ site.time | date: '%Y' }}</p>
      </div>
    </footer>
  </body>
</html>
