<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}

  <body class="page-essay {{page.body-class}}">
    {%- include home-link.html -%}
    <main class="page-content" aria-label="Content">
      <article class="essay">
        <h1 role="heading" aria-level="1">
          <a href="{{ page.url }}">{{ page.title }}</a>
        </h1>
        {{ content }}
      </article>
    </main>
    <footer class="essay-footer">
      <a href="/writing" class="more-writing">More Writing</a>

      <div class="bottom-row">
        <p class="dannysmith">Danny Smith</p>

        <ul class="footer-links">
          <li><a class="footer-link" href="/youtube">YouTube</a></li>
          <li>
            <a class="footer-link" href="https://twitter.com/dannysmith"
              >@dannysmith</a
            >
          </li>
          <li><a class="footer-link" href="/feed.xml">RSS</a></li>
          <li><a class="footer-link" href="/about">About</a></li>
        </ul>
      </div>

      {%- include copyright.html -%}
    </footer>
  </body>
</html>
